services:
  auth-database:
    image: postgres:18-alpine
    container_name: auth-database
    ports:
      - "5439:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db 

volumes:
  db_data: